body{
    margin: 0;
    padding: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    
    width: 95%;

    margin: 0 auto;

    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);

    #logo {
        margin-left: 1rem;
        font-weight: bold;

        /* text-decoration: none; */
    }

    #nav-link {
        margin-right: 1rem;
        font-weight: semi-bold;

        display: flex;
        gap: 2rem;

        /* text-decoration: none; */

        /* 1rem = 16 px */
    }

    a {
        text-decoration: none;
        color: #000;

        font-size: 20px;
    }
}

nav:hover {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.614);
    transition: 0.5s ease-in-out;
}

a:hover{
    text-decoration: underline;
    font-size: 22px;
}

#content1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    #list-contact {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h1 {
            font-size: 20px;
            cursor: pointer;
        }
    }
}

#content2 {
    border: 1px solid black;
    height: 70vh;
    width: 60%;

    top: 10rem;
    position: fixed;
    z-index: 5;

    left: 50%;
    transform: translateX(-50%);

    background-color: white;

    display: none;

    h1 {
        text-align: center;
        margin-top: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
}
